body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: TT Lakes-Medium;
    src: url(../fonts/TTlakes/TTLakesCondensed-Medium.woff);
}

.page {
    background-color: #F8F8F8;
}

.page__decor-line {
    height: 1px;
    background-color: #D9FFF5;
}

.page__header {
    display: flex;
    height: 80px;
    background: linear-gradient(270deg,#F8F8F8 0%,#FFFFFF 98.61%);
    vertical-align: middle;
    box-sizing: border-box;
    align-items: center;
}

.header__title {
    font-family: TT Lakes-Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2 px;
    color: #7E7E82;
    margin: 16px;
    padding: 0px;
    font-weight: 300;
}

.swiper {
    height: 154px;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.swiper-pagination {
    top: 95px;
    --swiper-theme-color: #B5B6BC;
    --swiper-pagination-bullet-inactive-color: #dddddd;
    --swiper-pagination-bullet-inactive-opacity: 1;
} 

.page__conteiner {
    display: none;
}

@media (min-width:768px) {
    .page__swiper {
        display: none;
    }

    .page__conteiner {
        display: block;
    }

    .conteiner__catalog {
        display: grid;
        gap: 24px 16px;
        grid-template-columns: repeat(3,1fr);
        margin: 24px;
    }

    .catalog__btn-show-more {
        font-family: TT Lakes-Medium;
        font-size: 16px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        font-weight: 500;
        width: 126px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background-color: transparent;
    }
    
    .catalog__conteiner-btn-show-more {
        display: flex;
        align-items: center;
        margin-left: 24px;
    }
    /* .catalog__item:nth-child(1n + 7) {
        display: none;
    } */
}

@media (min-width:1120px) {
    .conteiner__catalog {
        display: grid;
        gap: 32px 16px;
        grid-template-columns: repeat(4,1fr);
        margin: 32px;    
    }

    .catalog__conteiner-btn-show-more {
        display: flex;
        align-items: center;
        margin-left: 32px;
    }
}
